p {
  padding: 0;
  margin: 0;
}
.search-tool {
  position: relative;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input-container {
  display: flex;
  flex-direction: column;
}
.search-input-border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid black;
  width: 500px;
  height: 30px;
  padding: 20px 10px;
  &:focus-within {
    border: 1px solid rgb(90, 211, 155);
  }
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 90%;
  }
  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-left: auto;
  }
}

.item-list {
  box-sizing: border-box;
  width: 500px;
  position: relative;
  padding: 10px;
  top: -5px;
  background-color: #fff;
  visibility: hidden;

  border: 1px solid black;

  &.active {
    visibility: visible;
  }
}

.section {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-weight: bold;
  color: gray;

  .condition-list {
    margin-left: auto;

    button {
      border: 1px solid rgb(90, 211, 155);
      border-radius: 20px;
      font-weight: bold;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.item-name {
  cursor: pointer;
  padding: 2px 0;
  font-weight: bold;
  font-size: 15px;
  span {
    margin-right: 5px;
    float: right;
  }
  &:hover {
    background-color: aquamarine;
  }
}
